.common-header {
    display: flex;
   justify-content: space-between;
    padding: 10px 20px;
    background-color: #1262a3;
    color: white;
    z-index: 1000;
    position: fixed;
    width: 98vw;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    justify-content: start;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #1980d4;
    border-radius: 4px;
}
.navbar{
    display: flex;
    flex-direction: column; 
    padding-right: 10px;
    
}
.auth-support{
    display: flex;
    justify-content: end;
}
.support-phone, .login-link, .register-link{
    margin: 0 10px 10px 10px;
}
.login-link, .register-link{
    text-decoration: none;
    color: white;
}